/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/


body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}
.admin-banner {
	display: none;
  width: 100%;
	height: 59px;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
  font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
}
.banner-content{
	display:flex;
	justify-content: center;
	align-items: center;
	gap: 8px; 
	line-height: 1;
	padding-top: 20px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 30px 0;
}

section {
	margin: 50px 0;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1 > span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
	text-decoration: none;
}

li:hover {
	color: rgba(0, 0, 0, 1);
	text-decoration: none;
}

nav a {
	color: rgba(0, 0, 0, 1);
	text-decoration: none;
}

nav a:hover {
	color: rgba(0, 0, 0, 1);
	font-weight: bold;
	text-decoration: none;
}



.login {
	width: 379px;
	margin: auto;
}

.logo {
	font-family: Syne;
	font-weight: 700;
	font-style: normal;
	font-size: 30px;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
	color: rgba(29, 97, 84, 1);
	padding-bottom: 50px;
	padding-top: 50px;
}

.email,
.password {
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
	font-style: Medium;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0%;
}

input {
	width: 379px;
	height: 51px;
	opacity: 1;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	border: none;
	margin-bottom: 30px;
	margin-top: 10px;
}

.button {
	width: 179px;
	height: 36px;
	border-radius: 60px;
	background-color: rgba(29, 97, 84, 1);
	color: white;
	font-family: Syne;
	font-weight: 700;
	font-style: normal;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
	border: none;
	margin-left: 100px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.oublie {
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
	font-style: Medium;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0%;
	text-decoration: underline;
	text-decoration-style: solid;
	text-decoration-thickness: 0%;
	text-align: center;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1;
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.no-wrap {
	white-space: nowrap;
	display: flex;
	justify-content: center;
	gap: 25px;
	align-items: baseline;
}

.no-wrap h2 {
	margin: 0;
	line-height: 1;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

.no-wrap a {
	display: none;
	gap: 10px;
	color: rgba(0, 0, 0, 1);
	text-decoration: none;
	font-size: 14px;
	align-items: center;
	font-weight: 400;
	font-family: 'Syne';
}

.no-wrap a i {
	font-size: 14px;
	line-height: 1;
	transform: translateY(1px);
}

.categories {
	width: 100%;
	max-width: 585px;
	display: flex;
	justify-content: center;
	gap: 10px;
	padding-top: 15px;
	padding-bottom: 50px;
	margin: auto;
	flex-wrap: wrap;
}

.categories button {
	font-family: Syne;
	font-weight: 700;
	font-style: normal;
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: 0%;
	text-align: center;
	color: rgba(29, 97, 84, 1);
	border: 1px solid rgba(29, 97, 84, 1);
	border-radius: 60px;
	padding: 9px 20px;
	white-space: nowrap;
	background-color: white;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease;
	min-height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.categories button:not(.active) :hover {
	background-color:rgba(29, 97, 84, 1);
	color:white;
}

.categories button.active {
	background-color: rgba(29, 97, 84, 1);
	color:white;
}
.categories button.active:hover {
	background-color: rgba(29, 97, 84, 1);
	color:white;
}

.modal {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	opacity: 1;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.hidden {
	display: none !important;
}

.modal-content {
	background-color: white;
	padding: 30px;
	border-radius: 10px;
	width: 630px;
	height: 70vh;
	overflow-y: auto;
	position: relative;
	z-index: 1001;
}

.modal-view {
	display: none;
	width: 100%;
	height: auto;
}

.modal-view.active {
	display: block;
}

.modal-content h3 {
	font-family: normal;
	font-weight: 400;
	font-style: Regular;
	font-size: 26px;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
}

.modal-close {
	position: absolute;
	top: 25px;
	right: 36px;
	border: none;
	background-color: white;
	font-size: 20px;
	cursor: pointer;
	z-index: 1001;
}

#media-thumbnails {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
	gap: 15px;
	margin: 30px auto;
}

#media-thumbnails img {
	width: 100%;
	height: 140px;
	object-fit: cover;
	border-radius: 4px;
}

.delete-btn {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: black;
	border: none;
	padding: 4px;
	border-radius: 4px;
	color: white;
	cursor: pointer;
}

.separator {
	width: 420px;
	height: 0;
	border: 1px solid rgba(179, 179, 179, 1);
	margin: 30px auto;
}

.add-photo-btn {
	width: 237px;
	height: 36px;
	display: block;
	margin: 20px auto;
	border-radius: 60px;
	border: none;
	background-color: rgba(29, 97, 84, 1);
	color: rgba(255, 255, 255, 1);
	font-family: Syne;
	font-weight: 700;
	font-style: normal;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
}

.return-btn {
	font-size: 20px;
	border: none;
	background-color: white;
}

.upload-infos {
	width: 420px;
	height: 169px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: rgba(232, 241, 246, 1);
	margin: 30px auto;
}

.upload-infos i {
	font-size: 80px;
	color: rgba(185, 197, 204, 1);
}

.upload-infos #previewZone {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.upload-btn {
	width: 173px;
	height: 36px;
	border-radius: 50px;
	opacity: 1;
	background-color: rgba(203, 214, 220, 1);
	font-family: normal;
	font-weight: 500;
	font-style: normal;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
	color: rgba(48, 102, 133, 1);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
}

.upload-infos p {
	font-family: normal;
	font-weight: 50;
	font-style: Regular;
	font-size: 10px;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
	color: rgba(68, 68, 68, 1);
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 420px;
	height: auto;
	margin: 30px auto;
}

.form label {
	font-family: normal;
	font-weight: 500;
	font-style: normal;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0%;
	color: rgba(61, 61, 61, 1);
}

.form input {
	width: 420px;
	height: 51px;
	opacity: 1;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

.select-wrapper {
	position: relative;
	display: inline-block;
	width: 100%;
}

.select-wrapper::after {
	content: "\f078";
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	font-size: 12px;
	color: #333;
	position: absolute;
	top: 50%;
	right: 25px;
	transform: translateY(-50%);
	pointer-events: none;
}

.select-wrapper select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 420px;
	height: 51px;
	opacity: 1;
	border: none;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

.select-wrapper select:focus {
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	border-color: inherit;
	outline: none;
}

.valider-btn {
	width: 237px;
	height: 36px;
	border-radius: 60px;
	opacity: 1;
	margin: 0 auto;
	background-color: rgba(167, 167, 167, 1);
	font-family: Syne;
	font-weight: 700;
	font-style: normal;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
	color: rgba(255, 255, 255, 1);
	cursor: pointer;
}
.valider-btn:not(:disabled) {
	background-color: rgba(29, 97, 84, 1);
	cursor: pointer;
}
.valider-btn:not(:disabled):hover {
	background-color: rgba(29, 97, 84, 1);
}


.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

#contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
	font-family: Syne;
	font-weight: 700;
	font-style: Bold;
	font-size: 30px;
  line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
  color: rgba(29, 97, 84, 1);
}

#contact p{
	font-family: normal;
	font-weight: 400;
	font-style: Regular;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
	color: rgba(61, 61, 61, 1);
}

#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	width: 379px;
	height: 51px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	width: 379px;
	height: 174px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
  width: 179px;
	font-size: 16px;
  font-family: 'Syne';
  font-weight: 700;
  color: white;
  background-color: #1D6154;
  margin: 2em auto;
  text-align: center;
  border-radius: 60px;
  border: none;
  display: block;
}


footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}


@media (max-width: 1024px) {
	body {
		padding: 0 20px;
	}
	
	.categories {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;
		max-width: none;
	}
	
	#contact {
		width: 100vw;
		margin-left: calc(-50vw + 50%);
		margin-right: calc(-50vw + 50%);
		padding: 0 20px;
		box-sizing: border-box;
	}
}

@media (max-width: 375px) {
	body {
		padding: 0 20px;
	}
	
	header {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	
	h1 {
		font-size: 25px;
		align-items: center;
	}
	
	nav ul {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		padding: 20px 10px;
	}
	
	#introduction {
		display: flex;
		flex-direction: column;
	}
	
	#introduction img {
		width: 100%;
	}
	
	#introduction article {
		margin: 20px 0;
	}
	
	#introduction article h2 {
		font-size: 20px;
		text-align: center;
	}
	
	#introduction p {
		font-size: 14px;
	}
	

	.categories {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding: 15px 0 30px 0;
		margin: auto;
	}
	
	.categories button {
		width: 100%;
		max-width: 300px;
		margin: 0 auto;
		padding: 12px 20px;
		font-size: 14px;
		line-height: 1.2;
		white-space: normal;
		word-wrap: break-word;
		min-height: 44px;
	}
	
	.gallery {
		grid-template-columns: 1fr 1fr;
		grid-gap: 10px;
	}
	
	.modal-content {
		width: 90%;
		height: 50vh;
		padding: 20px;
	}
	
	.form {
		width: 100%;
	}
	
	.form input,
	.select-wrapper select {
		width: 100%;
	}
	
	.upload-infos {
		width: 100%;
		height: auto;
		min-height: 150px;
	}

	#contact {
		width: 100%;
		padding: 0 20px;
	}

	#contact input,
	#contact textarea {
		width: 100%;
		box-sizing: border-box;
	}

	input[type="submit"] {
		width: 120px;
		height: 45px;
		font-size: 14px;
	}

	footer ul il {
		justify-content: center;
	}

}